.article-table {
  border: 1px solid #999;
  display: table;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
}
.article-table .article-table-header {
  text-transform: uppercase;
  background: #852d39;
  color: #fff;
  display: table-header-group;
  font-weight: 900;
}
.article-table .article-table-header .cell {
  cursor: pointer;
  display: table-cell;
  border: 0;
}
.article-table .article-table-header p {
  display: inline-block;
}
.article-table .article-table-header .sortable::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.35);
  border-left: 5px solid transparent;
  transition: border .3s;
  margin-right: 5px;
  content: '';
}
.article-table .article-table-header .sorted::before {
  border-bottom: 5px solid rgba(255, 255, 255, 0.95);
  border-top: 0;
  transition: border .3s;
}
.article-table .article-row {
  min-height: 35px;
  overflow: auto;
  padding: 10px 20px;
  display: table-row;
}
.article-table .article-row.odd {
  background: #f7f7f7;
}
.article-table .article-table-body {
  min-height: 35px;
  display: table-row-group;
}
.article-table .article-table-body .cell {
  border: 1px solid #f7f7f7;
}
.article-table .cell {
  display: table-cell;
  vertical-align: middle;
  width: 9%;
  text-align: left;
  height: auto;
  font-size: 12px;
  padding: 1%;
}
.article-table .cell img {
  margin-right: 10px;
}
.article-table .cell a {
  text-decoration: none;
  color: #2aa2e0;
}
.article-table .cell a:hover {
  color: #21c1ff;
}
.article-table .cell:first-child {
  width: 64%;
  vertical-align: top;
}

.show-more {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.show-more .button {
  font-family: Montserrat;
  width: 200px;
  margin: 0 auto;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #21c1ff;
  border-bottom: 4px solid #2aa2e0;
  transition: background-color .5s;
  cursor: pointer;
}
.show-more .button:not(.disabled):hover {
  background-color: #2aa2e0;
  border-bottom: 0 solid #2aa2e0;
  height: 39px;
  line-height: 39px;
  transition: background-color .5s;
}
.show-more .button.disabled {
  background-color: #2aa2e0;
  cursor: auto;
}

.loading {
  background: url("../assets/images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 90%;
}
