// scss-lint:disable PropertySortOrder

$border-grey: #dcdcdc;
$light-grey: rgb(247, 247, 247);
$white: #fff;
$mic-blue: rgb(33, 193, 255);
$mic-blue-darken: rgb(42, 162, 224);
$mic-blue-even-darker: rgb(26, 88, 124);
$mic-red: rgb(255, 69, 61);
$mic-granate: rgb(133, 45, 57);

.article-table {
  border: 1px solid $border-grey;
  display: table;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;

  .article-table-header {
    text-transform: uppercase;
    background: $mic-granate;
    color: $white;
    display: table-header-group;
    font-weight: 900;

    .cell {
      cursor: pointer;
      display: table-cell;
      text-align: center;
      border: 0;
    }

    .cell:first-child {
      vertical-align: middle;
      text-align: left;
    }

    p {
      display: inline-block;
    }

    .sortable::before {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-right: 5px solid transparent;
      border-top: 5px solid rgba($white, .35);
      border-left: 5px solid transparent;
      transition: border .3s;
      margin-right: 5px;
      content: '';
    }

    .sorted::before {
      border-bottom: 5px solid rgba($white, .95);
      border-top: 0;
      transition: border .3s;
    }
  }

  .article-row {
    min-height: 35px;
    overflow: auto;
    padding: 10px 20px;
    display: table-row;

    &.odd {
      background: $light-grey;
    }
  }

  .article-table-body {
    min-height: 35px;
    display: table-row-group;

    .cell {
      border: 1px solid $border-grey;
    }
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
    width: 11%;
    text-align: left;
    height: auto;
    font-size: 12px;
    padding: 1%;

    img {
      margin-right: 10px;
      display: inline;
      height: 50px;
      float: left;
    }

    a {
      text-decoration: none;
      color: $mic-blue-even-darker;
      font-weight: 700;
      font-size: 14px;
      display: inline;
      vertical-align: top;
    }

    a:hover {
      color: $mic-blue;
    }

    &:first-child {
      width: 58%;
      vertical-align: top;
    }

    p {
      text-align: center;
    }

    .author {
      text-align: left;
    }
  }
}

.show-more {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;

  .button {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 12px;
    width: 160px;
    margin: 0 auto;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    color: $white;
    background-color: $mic-blue-darken;
    border-bottom: 2px solid $mic-blue-even-darker;
    transition: background-color .5s;
    cursor: pointer;

    &:not(.disabled):hover {
      background-color: $mic-blue-even-darker;
      border-bottom: 0 solid $mic-blue-even-darker;
      height: 37px;
      line-height: 37px;
      transition: background-color .5s;
    }

    &.disabled {
      background-color: $mic-blue-darken;
      cursor: auto;
    }
  }
}

.loading {
  background: url('../assets/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 90%;
}
